**Read Data From JSON**

In [80]:
import json
fd = open("record.json",'r')
r = fd.read()
fd.close()

In [81]:
record = json.loads(r)
record

{'1001': {'name': 'Choco Cake', 'price': 100, 'quantity': 34},
 '1002': {'name': 'Milk Cake', 'price': 800, 'quantity': 100},
 '1003': {'name': 'Drink', 'price': 85, 'quantity': 100},
 '1004': {'name': 'Candy', 'price': 5, 'quantity': 1000},
 '1005': {'name': 'Pen', 'price': 20, 'quantity': 100},
 '1006': {'name': 'Phone', 'price': 50000, 'quantity': 10},
 '1007': {'name': 'Mic', 'price': 1500, 'quantity': 0},
 '1008': {'name': 'Case', 'price': 599, 'quantity': 5},
 '1009': {'name': 'Keyboard', 'price': 1999, 'quantity': 10},
 '2000': {'name': 'notebook', 'price': 599, 'quantity': 5},
 '2001': {'name': 'pencil', 'price': 9, 'quantity': 5},
 '2002': {'name': 'mouse', 'price': 899, 'quantity': 13},
 '2003': {'name': 'chair', 'price': 500, 'quantity': 10},
 '2004': {'name': 'table', 'price': 871, 'quantity': 6},
 '2005': {'name': 'wall clock', 'price': 700, 'quantity': 30},
 '2006': {'name': 'watch', 'price': 1000, 'quantity': 20},
 '2007': {'name': 'toys', 'price': 70, 'quantity': 25},
 '2008': {'name': 'keyboard', 'price': 1500, 'quantity': 30},
 '2009': {'name': 'ear pods', 'price': 2000, 'quantity': 5},
 '3000': {'name': 'washing machine', 'price': 20000, 'quantity': 30},
 '3001': {'name': 'laptop', 'price': 55000, 'quantity': 35}}

**Add** **New** **Item** **Into**  **Inventory**

In [83]:
prod_id = str(input("Enter product id:"))
name = str(input("Enter name:"))
price = int(input("Enter price:"))
quantity = int(input("Enter quantity:"))

record[prod_id] = {'name': name, 'price': price, 'quantity': quantity}

js = json.dumps(record)

fd = open("record.json",'w')
fd.write(js)
fd.close()

Enter product id:3002
Enter name:cosmetics
Enter price:900
Enter quantity:5

In [84]:
record

{'1001': {'name': 'Choco Cake', 'price': 100, 'quantity': 34},
 '1002': {'name': 'Milk Cake', 'price': 800, 'quantity': 100},
 '1003': {'name': 'Drink', 'price': 85, 'quantity': 100},
 '1004': {'name': 'Candy', 'price': 5, 'quantity': 1000},
 '1005': {'name': 'Pen', 'price': 20, 'quantity': 100},
 '1006': {'name': 'Phone', 'price': 50000, 'quantity': 10},
 '1007': {'name': 'Mic', 'price': 1500, 'quantity': 0},
 '1008': {'name': 'Case', 'price': 599, 'quantity': 5},
 '1009': {'name': 'Keyboard', 'price': 1999, 'quantity': 10},
 '2000': {'name': 'notebook', 'price': 599, 'quantity': 5},
 '2001': {'name': 'pencil', 'price': 9, 'quantity': 5},
 '2002': {'name': 'mouse', 'price': 899, 'quantity': 13},
 '2003': {'name': 'chair', 'price': 500, 'quantity': 10},
 '2004': {'name': 'table', 'price': 871, 'quantity': 6},
 '2005': {'name': 'wall clock', 'price': 700, 'quantity': 30},
 '2006': {'name': 'watch', 'price': 1000, 'quantity': 20},
 '2007': {'name': 'toys', 'price': 70, 'quantity': 25},
 '2008': {'name': 'keyboard', 'price': 1500, 'quantity': 30},
 '2009': {'name': 'ear pods', 'price': 2000, 'quantity': 5},
 '3000': {'name': 'washing machine', 'price': 20000, 'quantity': 30},
 '3001': {'name': 'laptop', 'price': 55000, 'quantity': 35},
 '3002': {'name': 'cosmetics', 'price': 900, 'quantity': 5}}

**Read** **Inventory**

In [85]:
import json

fd = open("record.json",'r')
r = fd.read()
fd.close()

records = json.loads(r)

In [86]:
records

{'1001': {'name': 'Choco Cake', 'price': 100, 'quantity': 34},
 '1002': {'name': 'Milk Cake', 'price': 800, 'quantity': 100},
 '1003': {'name': 'Drink', 'price': 85, 'quantity': 100},
 '1004': {'name': 'Candy', 'price': 5, 'quantity': 1000},
 '1005': {'name': 'Pen', 'price': 20, 'quantity': 100},
 '1006': {'name': 'Phone', 'price': 50000, 'quantity': 10},
 '1007': {'name': 'Mic', 'price': 1500, 'quantity': 0},
 '1008': {'name': 'Case', 'price': 599, 'quantity': 5},
 '1009': {'name': 'Keyboard', 'price': 1999, 'quantity': 10},
 '2000': {'name': 'notebook', 'price': 599, 'quantity': 5},
 '2001': {'name': 'pencil', 'price': 9, 'quantity': 5},
 '2002': {'name': 'mouse', 'price': 899, 'quantity': 13},
 '2003': {'name': 'chair', 'price': 500, 'quantity': 10},
 '2004': {'name': 'table', 'price': 871, 'quantity': 6},
 '2005': {'name': 'wall clock', 'price': 700, 'quantity': 30},
 '2006': {'name': 'watch', 'price': 1000, 'quantity': 20},
 '2007': {'name': 'toys', 'price': 70, 'quantity': 25},
 '2008': {'name': 'keyboard', 'price': 1500, 'quantity': 30},
 '2009': {'name': 'ear pods', 'price': 2000, 'quantity': 5},
 '3000': {'name': 'washing machine', 'price': 20000, 'quantity': 30},
 '3001': {'name': 'laptop', 'price': 55000, 'quantity': 35},
 '3002': {'name': 'cosmetics', 'price': 900, 'quantity': 5}}

**Purchase**

In [87]:
ui_prod  = str(input("Enter the product_Id: "))
ui_quant = int(input("Enter the quantity: "))


print("Product: ", records[ui_prod]['name'])
print("Price: ", records[ui_prod]['price'])
print("Billing Amount: ", records[ui_prod]['price'] * ui_quant)

records[ui_prod]['quantity'] = records[ui_prod]['quantity'] - ui_quant

Enter the product_Id: 2001
Enter the quantity: 5
Product:  pencil
Price:  9
Billing Amount:  45

In [88]:
records

{'1001': {'name': 'Choco Cake', 'price': 100, 'quantity': 34},
 '1002': {'name': 'Milk Cake', 'price': 800, 'quantity': 100},
 '1003': {'name': 'Drink', 'price': 85, 'quantity': 100},
 '1004': {'name': 'Candy', 'price': 5, 'quantity': 1000},
 '1005': {'name': 'Pen', 'price': 20, 'quantity': 100},
 '1006': {'name': 'Phone', 'price': 50000, 'quantity': 10},
 '1007': {'name': 'Mic', 'price': 1500, 'quantity': 0},
 '1008': {'name': 'Case', 'price': 599, 'quantity': 5},
 '1009': {'name': 'Keyboard', 'price': 1999, 'quantity': 10},
 '2000': {'name': 'notebook', 'price': 599, 'quantity': 5},
 '2001': {'name': 'pencil', 'price': 9, 'quantity': 0},
 '2002': {'name': 'mouse', 'price': 899, 'quantity': 13},
 '2003': {'name': 'chair', 'price': 500, 'quantity': 10},
 '2004': {'name': 'table', 'price': 871, 'quantity': 6},
 '2005': {'name': 'wall clock', 'price': 700, 'quantity': 30},
 '2006': {'name': 'watch', 'price': 1000, 'quantity': 20},
 '2007': {'name': 'toys', 'price': 70, 'quantity': 25},
 '2008': {'name': 'keyboard', 'price': 1500, 'quantity': 30},
 '2009': {'name': 'ear pods', 'price': 2000, 'quantity': 5},
 '3000': {'name': 'washing machine', 'price': 20000, 'quantity': 30},
 '3001': {'name': 'laptop', 'price': 55000, 'quantity': 35},
 '3002': {'name': 'cosmetics', 'price': 900, 'quantity': 5}}

**Inventory** **Updation** **After** **Purchase**

In [89]:
js = json.dumps(records)

fd = open("record.json",'w')
fd.write(js)
fd.close()

**Sales** **JSON**

In [90]:
{'prod' : ui_prod, 'quantity' : ui_quant, 'amount': records[ui_prod]['price'] * ui_quant}

{'amount': 45, 'prod': '2001', 'quantity': 5}

In [91]:
sales = {1 : {'prod' : ui_prod, 'quantity' : ui_quant, 'amount': records[ui_prod]['price'] * ui_quant},
         2 : {'prod' : ui_prod, 'quantity' : ui_quant, 'amount': records[ui_prod]['price'] * ui_quant},
         3 : {'prod' : ui_prod, 'quantity' : ui_quant, 'amount': records[ui_prod]['price'] * ui_quant}}

In [92]:
sale = json.dumps(sales)
sale

'{"1": {"prod": "2001", "quantity": 5, "amount": 45}, "2": {"prod": "2001", "quantity": 5, "amount": 45}, "3": {"prod": "2001", "quantity": 5, "amount": 45}}'

In [93]:
fd = open("record.json",'r')
r = fd.read()
fd.close()

In [94]:
{(len(sales) + 1) : {'prod' : ui_prod, 'quantity' : ui_quant, 'amount': records[ui_prod]['price'] * ui_quant}}

{4: {'amount': 45, 'prod': '2001', 'quantity': 5}}

In [95]:
sales[(len(sales) + 1)] : {'prod' : ui_prod, 'quantity' : ui_quant, 'amount': records[ui_prod]['price'] * ui_quant}

In [96]:
sales

{1: {'amount': 45, 'prod': '2001', 'quantity': 5},
 2: {'amount': 45, 'prod': '2001', 'quantity': 5},
 3: {'amount': 45, 'prod': '2001', 'quantity': 5}}

In [97]:
fd = open("sales.json",'w')
r = fd.write(sale)
fd.close()